* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Arial', sans-serif;
    color: white;
    height: 100%;
    background-color: #000;
}

.hero {
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.overlay h1,.overlay p{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.3); /* lighter transparency like the uploaded image */
    backdrop-filter: blur(2px); /* optional subtle blur behind text */
    letter-spacing: 2px;
    border-radius: 5px;
    text-transform: uppercase;
  }
  

.scroll-indicator {
    margin-top: 20px;
    font-size: 1.3rem;
    color: #ccc;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    background: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.logo-text span {
    font-size: 0.8rem;
    font-weight: normal;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a.active {
    color: gray;
}

nav a:hover {
    color: lightgray;
}

.content1 {
    padding: 100px 50px;
    background-color: #ffffff;
    min-height: 100vh;
    color: black;
    font-family:'Gill Sans', sans-serif;
    justify-content: center;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.content p {
    max-width: 600px;
    line-height: 1.6;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 2   0px;
  background: #f0eded; 
}

.content-wrapper {
  max-width: 800px;
  text-align: left;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.content-wrapper h1 {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 24px;
}

.content-wrapper p {
  font-size: 0.8rem;
  color: #000000;
  line-height: 1.7;
  margin-bottom: 20px;
}

.content-wrapper a {
  color: #f4a261;
  font-weight: 600;
  text-decoration: none;
}

.content-wrapper a:hover {
  text-decoration: underline;
}